/*
 * Copyright - A Produle Systems Private Limited. All Rights Reserved.
 * 
 * @desc The dashboard stylesheet
 * 
 */
 
 
 /* Bootstrap Override */

input, textarea, select, .uneditable-input
{
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #e0e0e0;
}
.modal-footer
{
	border: none;
	background: transparent;
}
.modal-header
{
	border: none;
	color: #444;
}
.modal
{
    border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	color:#444;
}
.modal-header .close {
	font-weight: 100;
	font-size: 25px;

}
/* Bootstrap override END*/


.mfProjectAppMsg
{
  display: inline-block;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  color: #999;
  /*text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.4); */
}
.mfProjectAppMsg .badge
{
  padding:2px 3px 2px 6px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #C7C7C7;
  margin-right: 5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge.approved
{
	background-color: #ACC286;
}
/*
	New Project Dialog Box
*/

.mfWorkflowImageCls
{
	width: 100%;
	display: block;
	margin: 0;
	margin-top: 15px;
	
}
.mfWorkflowImageCls li
{ 
	list-style-type: none;
	width: 115px;
	display: inline-block;
	vertical-align: top;
}
.mfWorkflowImageCls .mfWorkflowIcon
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border-width: 2px;
   border-style: solid;
   display: inline-block;
   	position:relative;
	left: 22%;
	background-repeat: no-repeat;
   background-size: 64%;
   background-color: #fff;
	
}
.mfWorkflowImageCls .mfWorkflowTxt
{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 4px 0px;
  color: #777;
}
.mfWorkflowIcon i
{
  display: inline-block;
  position: absolute;
  width: 120%;
  border-top: 2px solid #E8E8E8;
  top: 50%;
  right: -110%;
  z-index: -1;
}
.mfIconCreate
{
	background-image: url('../../images/dashboard/newdialog/CreateNew.png');
	border-color: #f1c40f;
    background-position: 13px 8px;
}
.mfIconShare
{
	background-image: url('../../images/dashboard/newdialog/Share-50.png');
	border-color: #16a085;
    background-position: 9px 11px;
}
.mfIconFeedback
{
	background-image: url('../../images/dashboard/newdialog/Response-50.png');
	border-color: #A87CA0;
    background-position: 12px 11px;
}

.mfIconSelect
{
	background-image: url('../../images/dashboard/newdialog/Select-50.png');
	border-color: #19B5FE;
	background-position: 14px 11px;
}
.mfPermissionShareIcon
{
	height: 25px;
	width: 25px;
	display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    color: #2ecc71;
    margin-top: -10px;
}
#mfProjectPermissionUi
{
	height: 30px;
	overflow: hidden;
}
#mfPermissionTxt
{
	 width: 200px;
     display: inline-block;
     margin-top : 4px;
     white-space: nowrap; overflow: hidden;  text-overflow:  ellipsis;
}

/* Ribbon Starts */

.ribbon {
  position: absolute;
  left: 106px;
  top: -6px;
  z-index: 1;
  overflow: hidden;
  width: 88px;
  height: 100px;
  text-align: right;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  pointer-events: none;
}
.ribbon span {
 font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-48deg);
  -webkit-transform: rotate(-48deg);
  width: 128px;
  display: block;
  background-color: #9BC90D;
  /*background: linear-gradient(#9BC90D 0%, #79A70A 100%); */
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 30px;
  left: -29px;
}
#mfActionIndicatorMessage
{
	font-size: 13px; 
	font-weight: bold; 
	color: #fff;
}

#mfActionIndicator
{
	overflow: hidden;  
	z-index: 9999; 
	display: none; 
	width: 400px; 
	height: 25px;  
	text-align: center; 
	background-color: #ccc;
	font-family: 'PT Sans', sans-serif !important;
	opacity: 0.9; 
	padding-top: 2px; 
	padding-left: 5px; 
	padding-right: 5px;
}
.mfMobileAppListSubtitle
{
    font-size: 14px;
    margin: 10px 0 20px;
    display: inline-block;
}
#mfMobileApps
{
	float: left;
    padding: 10px 20px;
    top: -17px;
    position: relative;
    right: 23px;
    cursor: pointer; 
    box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
}
#mfMobileApps:hover
{
	opacity:1 !important;
	color: #2196F3;
	text-decoration: none;
}
#mfMobileApps img
{
    max-width: 12px;
    margin-right: 5px;
}
#mfMobileAppListModal
{
	width: 660px !important; 
	transform: translate3d(-50%,0,0)!important; 
	overflow: hidden; 
	top:5% !important;
}
#mfMobileAppListModal .modal-body
{
	text-align: center; 
	font-size: 14px; 
	max-height: 555px !important; 
	padding:0 !important; 
	padding-top: 10px !important;
}
.mfIntegrationItemImageWrapper 
{
    width: 100%;
    height: 205px;
    border: 1px solid #fafafa;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}
.mfIntegrationItemImage 
{
    width: 104px;
    height: 104px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.mfIntegrationItemImage img 
{
    width: 50px;
    height: auto;
    margin: 0 auto;
}
.mfAppIntegrationBtn
{
	float: left;
}
.mfAppIntegrationBtn img
{
	width: 140px;
}
.mfAppIntegrationTitle
{
	display: block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    color: #3d3d3d;
    padding: 0;
    margin: 0 0 12px;
}
.mfAppIntegrationTitle img
{
	display: block;
    max-width: 62px;
}
.mfAppIntegrationTitle h4
{
   	display: block;
    font-size: 28px;
    color: #3d3d3d;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 40px;
}
.mfAppIntegrationDesc
{
    display: block;
    clear: left;
    text-align: left;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #3d3d3d;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 0;
    min-height: 44px;
}
.mfIntegrationItemWrapper
{
    max-width: 280px;
    margin: 0 12px 10px 0;
    float: left;
}
/* spinner app switcher */
.spinnerSwitcher {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}